<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1">
	<test name="test">
		<classes>
			<class name="com.mosy.test.printtest.TestHee" />
		</classes>
	</test>

	<listeners>
		<listener
			class-name="com.mosy.test.report.util.ExtentTestNGITReportr"></listener>
	</listeners>

</suite>
